<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :id_number %><br />
    <%= f.text_field :id_number %>
  </div>

  <div class="field">
    <% if @person.roles.length == 1 %>
      <input type="hidden" name="person[role_ids][]" value="<%=@person.roles.first.id %>"/>
    <% else %>
      <%= f.label :roles %><br />
      <% Role.all.each do |role| %>
        <%= check_box_tag "person[role_ids][]", role.id, @person.roles.include?(role), :id => "person_role_id_#{role.id}" %>
        <%= label_tag "person[role_ids][]", role.name, :for => "person_role_id_#{role.id}" %>
      <% end %>  
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>