<h1>Listing reflections</h1>

<table>
  <tr>
    <th>Search item</th>
    <th>Reflection</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reflections.each do |reflection| %>
  <tr>
    <td><%= reflection.search_item %></td>
    <td><%= reflection.reflection %></td>
    <td><%= link_to 'Show', reflection %></td>
    <td><%= link_to 'Edit', edit_reflection_path(reflection) %></td>
    <td><%= link_to 'Destroy', reflection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reflection', new_reflection_path %>
