<h1>Listing reflections</h1>

<table>
  <tr>
    <th>Search item</th>
    <th>Reflection</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reflectionPairs.each do |reflection| %>
  <tr>
    <td><%= reflection[0] %></td>
    <td><%= reflection[1].reflection %></td>
    <td><%= link_to 'Show', reflection[1] %></td>
    <td><%= link_to 'Edit', edit_reflection_path(reflection[1]) %></td>
    <td><%= link_to 'Destroy', reflection[1], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reflection', new_reflection_path %>
