
<div class="results audience">
  <% @ratings.each do |url, rating| %>
    <div class="result-div venn-result">
      <div class="content">

    		<%= rating["content"].gsub(/\\"/, '"').html_safe %>
      </div>
      <div class="controls">
        <div class="rtab-container">
          <div class="check-image green-bg" style="display: block;">
            <% if person_signed_in? && current_person.role?(:teacher) %>
              <%= link_to rating["up"], "/admin/class_ratings/#{rating['rating'].id}" %>
            <% else %>
              <%= rating["up"] %>
            <% end %>
          </div>
          <div class="delete-image red-bg" style="display: block;">
            <% if person_signed_in? && current_person.role?(:teacher) %>
              <%= link_to rating["down"], "/admin/class_ratings/#{rating['rating'].id}" %>
            <% else %>
              <%= rating["down"] %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
	<% end %>
</div>