<%= form_for(@role_assignment) do |f| %>
  <% if @role_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role_assignment.errors.count, "error") %> prohibited this role_assignment from being saved:</h2>

      <ul>
      <% @role_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person %><br />
    <%= f.collection_select(:person_id, Person.all, :id, :first_name, {:prompt => true}) %>
    <!-- <%= f.text_field :person %> -->
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.collection_select(:role_id, Role.all, :id, :name, {:prompt => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
